/* common style */
body{
    font-family: 'Lato', sans-serif;
}
.common-btn{
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background: #E55473;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
/* header styles */
header{
    background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;
    gap: 80px;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.header-info{
    width: 50%;
}
.header-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin: 0;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}
.header-image{
    width: 400px;
    padding-top: 50px;
}