/* common style */
body{
    font-family: 'Lato', sans-serif;
}
.common-btn{
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    background: #E55473;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}
/* header styles */
header{
    background: rgba(229, 84, 115, 0.10);
}
.header-container{
    display: flex;
    gap: 80px;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.header-info{
    width: 50%;
}
.header-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    margin: 0;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}
.header-image{
    width: 400px;
    padding-top: 50px;
}

/* Feature section style */
.feature-section{
    max-width: 1280px;
    margin: 150px auto 0 auto;
    text-align: center;
}
.feature-box{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin: 50px auto 0 auto;
    /* margin-top: 50px; */
}
.feature-info{
    width: 450px;
}
.feature-img-one{
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    border: 0;
}
.feature-img-one img{
    width: 250px;
    height: 350px;
    padding: 150px 70px 0 70px;
}
.feature-img-two{
    border: 0;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.feature-img-two img{
    width: 250px;
    height: 350px;
    padding: 100px 50px 50px 50px;
}
.feature-img-three{
    border: 0;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.feature-img-three img{
    width: 250px;
    height: 350px;
    padding: 150px 70px 0 70px;
}
.feature-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 30px;
}
/* deal-section style */
.hot-deal{
    margin-top: 130px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-info{
    width: 1280px;
    display: flex;
    gap: 150px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
.title-color{
    color: #E55473;
}
.hot-deal-box{
    text-align: center;
}
.hot-deal-image{
    width: 250px;
    height: 350px;
    padding: 100px 0 100px 0;
}
/* insta section style */
.insta-section{
    width: 1280px;
    margin: 130px auto 130px auto;
}
.insta-box{
    display: flex;
    gap: 25px;
    /* justify-content: space-around; */
    /* padding: 0 240px 0 240px; */
    margin-top: 50px;
}
.insta-img img{
    width: 100%;
}
/* form section styel */
.form-section{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
}
.form-info{
    padding: 120px;
}
.subscribe-form input[type="email"]{
    padding: 22px 200px 22px 22px;
    border-radius: 8px;
    background: #FFF;
    border: none; 
}
/* footer styles */
footer{
    margin-top: 130px;
    text-align: center;
   background: #111010;
}
.footer-info{
    padding: 130px 0;
}
#footer-title{
    color: #FFF;
    margin-bottom: 0;
}
#footer-title span{
    color: #E55473;
}
#footer-des{
    color: rgba(255, 255, 255, 0.90);
    margin: 25px 0 30px 0;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}